  /*Background*/

body,
html {
    min-height: 100%;
}

body {
    background-image: url(pencil7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
                        /*Headings*/
h1,h2 {
    color: white;
    text-align: center;
    
}

p {
    color: yellow;
    text-align: center;
}
                  /*Footer Area*/

#border {
    background: black;
    color: white;
    text-align: center;
    margin-top: 37em;
    
    
    
    
}